@import "../_ux_global_design.scss";

// When pinged and ok
.tile-success {
  background:$clr-success !important;
}

//When awaiting for ping response
.tile-unclear {
  background: $clr-canul !important;
}
//When status is 200 but there is lag
.tile-amber {
  background: $clr-amber !important;
}
// When pinged and not ok
.tile-fail {
  background-color: $clr-fail !important;
  color: white !important;
}
.cardMargin{

  margin: 10px 0px 0px 0px;
}
hr{
  margin: 3px !important;
  padding: 0px !important;
}
p{
  padding: 0%;
  margin: 0% !important;
}
.FixedSize{
  height: 60px !important;
}
.cardButton{
  justify-content: center;
}
.tooltip-wrap {
  position: relative !important;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;

}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}
.userButton{
  margin-right: 328px;
}
.space {
  margin-top: 50px !important;
}