@import "../_ux_global_design.scss";


// When pinged and ok
.tile-success {
  
  background-color: $clr-success !important;
  width: 250px;
  height: 180px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 0.15%;
  padding: 0.5%;
  white-space: normal;
  

}

//When awaiting for ping response
.tile-unclear {
  background-color: $clr-canul;
  width: 250px;
  height: 180px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
 vertical-align: top;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 0.15%;
  padding: 0.5%;
  overflow: hidden;
  white-space: normal;
  
  
}

// When pinged and not ok
.tile-fail {
  background-color: $clr-fail !important;
  width: 250px;
  height: 180px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 0.15%;
  padding: 0.5%;
  overflow: hidden;
  white-space: normal;
  
}

p.cl-copy-14 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

/*@media only screen and (max-width: 1920px) {
  
  .tile-success {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%; 
  } 
  .tile-unclear {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  .tile-fail {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
}
*/
@media only screen and (max-width: 1400px) {
  .tile-success {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-unclear {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-fail {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 1024px) {
  .tile-success {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
  }
  .tile-unclear {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
  }
  .tile-fail {
    display: inline-block;
    height: 180px;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .tile-success {
    display: inline-block;
    max-height: 180px;
    max-width: 31%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: top;
    padding: 2%;
  }
  .tile-unclear {
    display: inline-block;
    height: 180px;
    max-width: 31%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: top;
    padding: 2%;
  }
  .tile-fail {
    display: inline-block;
    max-height: 180px;
    max-width: 31%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: top;
    padding: 2%;
  }
}

@media only screen and (max-width: 700px) {
  .tile-success {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
  .tile-unclear {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
  .tile-fail {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
}

@media only screen and (max-width: 360px) {
  .tile-success {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
  .tile-unclear {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
  .tile-fail {
    display: block;
    min-height: 20%;
    min-width: 90%;
    margin-top: 5%;;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 4%;
  }
}
