@import "../_ux_design_colors.scss";
@import "../_ux_design_fonts.scss";
// When pinged and ok
.tile-success {
  background-color: $clr-success !important;
  width: 250px;
  height: 200px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

//When awaiting for ping response
.tile-unclear {
  background-color: $clr-canul;
  width: 250px;
  height: 200px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

// When pinged and not ok
.tile-fail {
  background-color: $clr-fail !important;
  width: 250px;
  height: 200px;
  line-height: 1;
  border: 1px solid $clr-aterul;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

p.cl-copy-14 {
  text-align: center;
}

@media only screen and (max-width: 1920px) {

  .tile-success {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  .tile-unclear {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  .tile-fail {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
}

@media only screen and (max-width: 1400px) {
  .tile-success {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-unclear {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-fail {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 1024px) {
  .tile-success {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-unclear {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-fail {
    display: inline-block;
    height: 22.75%;
    width: 22.75%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .tile-success {
    display: inline-block;
    height: 31%;
    width: 31%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-unclear {
    display: inline-block;
    height: 31%;
    width: 31%;
    margin-top: 1%;
    margin-left: 1.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .tile-fail {
    display: inline-block;
    height: 31%;
    width: 31%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 700px) {
  .tile-success {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .tile-unclear {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .tile-fail {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 360px) {
  .tile-success {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .tile-unclear {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .tile-fail {
    display: block;
    height: 20%;
    width: 90%;
    margin-top: 5%;;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}