.hlink
{
  color: black;
}
.hlink:hover
{
  color: black;
}
.btnContainer{
  padding-top: 7px !important;
}

.btnContainerClose{
  margin-top: 20px !important;
}

.btnLog:focus {
  color:  #6c757d !important;
}