@import '../ux_global_design.scss';

/* DON'T DUPLICATE, INHERITED FROM addDomainModal*/
/* .Buttonas {

  text-transform: uppercase;
  outline: 0;
  background: $clr-hero !important;
  border: 0;
  padding: 10px;
  margin: 5px;
  color: #FFFFFF;
  font-size: 14px;

  &:hover {
    background-color: mix($clr-black, $clr-hero, 10%) !important;
    color: mix($clr-black, $clr-white, 10%) !important;
  }

  &:active {
    background-color: mix($clr-black, $clr-hero, 10%) !important;
    color: mix($clr-black, $clr-white, 20%) !important;
  }

} */