@import '../ux_global_design.scss';
.Menu_text {
  margin-top: 5px;
}

.Dropdown {
  z-index: 99 !important;
}

@media only screen and (max-width: 1200px) {
  .Menu_text {
    display: none;
  }
}

.NavBarOnTop {
  z-index: 99 !important;
  padding-left: 0 !important;
}

.btn {
  display: block !important;
  height: 100%;
}

.btn:focus {
  color: white !important;
}
.userName{
  margin-top:2px;
}

