@import '../ux_global_design.scss';

.forma {
  position: relative;
  z-index: 1;
  padding: 45px;
  text-align: center;
}

.forma input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 95%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.forma button {
  font-family: $fnt-mpr;
  text-transform: uppercase;
  outline: 0;
  background: $clr-caerul !important;
  border: 0;
  width: 30%;
  padding: 10px;
  margin: 5px;
  color: #FFFFFF;
  font-size: 14px;
  &:hover {
    background-color: mix($clr-black, $clr-hero, 10%) !important;
    color: mix($clr-black, $clr-white, 10%) !important;
  }

  &:active {
    background-color: mix($clr-black, $clr-hero, 20%) !important;
    color: mix($clr-black, $clr-white, 20%) !important;
  }

}

/* .forma button:hover,.forma button:active,.forma button:focus {
  background: lightskyblue;
} */
.forma .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.forma .message a {
  color: lightskyblue;
  text-decoration: none;
}

.SelectFrom {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 45%;
  border: 0;
  margin: 0px 10px 10px 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.txt {
  cursor: pointer;

}

.iconHover {
  font-size: 19px;
}

.iconHover:hover {
  color: $clr-caerul;
}

/* THIS IS INHERITED TO ALL MODALS, DON'T DUPLICATE TO OTHER SCSS FILES*/
/* .modal-dialog{
  max-width: 40% !important;
} */

/* MEDIA QUERIES, THESE ARE INHERITED AS WELL FOR MODALS*/
@media only screen and (max-width: 1920px) {
  .modal-dialog{
    max-width: 45% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1440px) {
  .modal-dialog{
    max-width: 50% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1280px) {
  .modal-dialog{
    max-width: 50% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1024px) {
  .modal-dialog{
    max-width: 65% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .modal-dialog{
    max-width: 90% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  .modal-dialog{
    max-width: 100% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 375px) {
  .modal-dialog{
    max-width: 100% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 320px) {
  .modal-dialog{
    max-width: 100% !important;
  }
  div.fade.modal.show {
    padding: 0 !important;
  }
}