@import '../ux_global_design.scss';

.forma1 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $clr-caerul !important;
  width: 30%;
  border: 0;
  padding: 10px;
  margin: 5px;
  color: #FFFFFF;
  font-size: 14px;
  &:hover {
    background-color: mix($clr-black, $clr-hero, 10%);
    color: mix($clr-black, $clr-white, 20%) !important;
  }
  &:active {
    background-color: mix($clr-black, $clr-hero, 10%);
    color: mix($clr-black, $clr-white, 20%) !important;
  }

}