@import '../ux_global_design.scss';

.forma {
  position: relative;
  z-index: 1;
  padding: 45px;
  text-align: center;
}


/* Comment out for original notification color*/
.notification {
  background-color:#0091dc !important;
  
}