@import "../_ux_global_design.scss";

table {
  border-collapse: collapse;
  width: 1265px !important;
  justify-content: center;
  border: 1px solid $clr-icdg-1;
  margin-bottom: 1%;
  table-layout: fixed;
}
th{
  background: $clr-caerul;
  color: #FFFFFF;
}

th, td {
  text-align: left !important;
  vertical-align: center !important;
}

tr:nth-child(even) {
  background-color: $clr-sucanul;
}

.eva-edit-outline {
  vertical-align: middle;
}

.domainButton{
  margin-right: -6px;
}
.txt {
  cursor: pointer;
}
.editDomainModal{
  margin-top: 17px;
}

.tooltip-wrap {
  position: relative !important;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;

}
.tooltip-wrap:hover .tooltip-content {
  display: block;


}