@import "../_ux_global_design.scss";


table {
  border-collapse: collapse;
  width: 1080px;
  justify-content: center;
  border: 1px solid $clr-icdg-1;
  margin-bottom: 1%;
}

th, td {
  
  text-align: left;
  padding: 1.5%;
  vertical-align: top;
}
tr:nth-child(even) {background-color: $clr-sucanul;}

.eva-edit-outline {
  vertical-align: middle;
  
}
.btn-hero-round {
  
  vertical-align: middle;
  margin-top: 13px;
  margin-right: 80px;
  
}
