@import "../_ux_global_design.scss";

table {
  border-collapse: collapse;
  width: 1260px !important;
  justify-content: center;
  border: 1px solid $clr-icdg-1 !important;
  margin-bottom: 1%;
  table-layout: fixed;
}

th {
  background: $clr-caerul;
  color: #FFFFFF;
}

th, td {
  text-align: left !important;
  vertical-align: center !important;
}

tr:nth-child(even) {
  background-color: $clr-sucanul;
}

.eva-edit-outline {
  vertical-align: middle;
}

.domainButton {
  margin-bottom: 15px;
  width: 8rem;
}

.txt {
  cursor: pointer;
}

.editDomainModal {
  margin-top: 0px !important;
}

.tooltip-wrap {
  position: relative !important;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;

}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.searchContainer {
  height: 41px !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
}

.searchBox {
  height: 41px !important;
  margin-top: 5px;
  margin-left: 20px;
  width: 100% !important;
}

.spaceTable {
  margin-top: 10px !important;
}

@media only screen and (max-width: 600px) {
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0;
    margin-left: 0;
  }
  .container{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /*Hides navbar on mobile res*/
  h5 {
    display: none !important;
  }
  
}
@media only screen and (max-width: 320px) {
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
  }
  .container{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /*Hides navbar on mobile res*/
  h5 {
    display: none !important;
  }
}