/*-------------------
COLORS
--------------------*/
/*-------------------------
    FONTS
 ------------------------*/
@font-face {
  font-family: "MetaPro";
  font-style: normal;
  font-weight: 400;
  src: local("MetaPro"), local("MetaPro-Regular"), url(../assets/fonts/MetaPro-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "MetaPro";
  font-style: normal;
  font-weight: 700;
  src: local("MetaPro"), local("MetaPro-Bold"), url(../assets/fonts/MetaPro-Bold.ttf) format("ttf");
}

html {
  font-family: "MetaPro", sans-serif;
}

.cl-h1 {
  font-family: "MetaPro-Bold";
  color: #333333;
  font-size: 32px;
  text-align: left;
}

.cl-intro {
  font-family: "MetaPro-Bold";
  color: #b6bec6;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.cl-h2 {
  font-family: "MetaPro-Regular";
  color: #333333;
  font-size: 16px;
  text-align: left;
}

.cl-h3 {
  font-family: "MetaPro-Bold";
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.cl-copy-16 {
  font-family: "MetaPro-Regular";
  color: #333333;
  font-size: 16px;
  text-align: left;
}

.cl-copy-14 {
  font-family: "MetaPro-Regular";
  color: #333333;
  font-size: 14px;
  text-align: left;
}

.cl-copy-12 {
  font-family: "MetaPro-Regular";
  color: #333333;
  font-size: 12px;
  text-align: left;
}

/*///////////////////
BUTTONS
*/
.btn-grey {
  background-color: #d8dce1;
  color: #333333;
  height: 48px;
  border-radius: 7px;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  font-family: "MetaPro-Regular";
}

.btn-grey:hover {
  background-color: #c8cbd0;
}

.btn-grey:active {
  background-color: #b7babe;
}

.btn-grey-disabled {
  background-color: #d8dce1;
  color: #333333;
  height: 48px;
  border-radius: 7px;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  font-family: "MetaPro-Regular";
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-grey-round {
  background-color: #d8dce1;
  color: #333333;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
}

.btn-grey-round:hover {
  background-color: #c8cbd0;
  color: #ebebeb;
}

.btn-grey-round:active {
  background-color: #b7babe;
  color: #d6d6d6;
}

.btn-grey-round-disabled {
  background-color: #d8dce1;
  color: #333333;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-hero {
  background-color: #0091dc;
  color: #ffffff;
  height: 48px;
  border-radius: 7px;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  font-family: "MetaPro-Regular";
}

.btn-hero:hover {
  background-color: #0588cb;
  color: #ebebeb;
}

.btn-hero:active {
  background-color: #0a7eba;
  color: #d6d6d6;
}

.btn-hero-disabled {
  background-color: #b6bec6;
  color: #333333;
  height: 48px;
  border-radius: 7px;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  font-family: "MetaPro-Regular";
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-hero-round {
  background-color: #0091dc;
  color: #ffffff;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.btn-hero-round:hover {
  background-color: #0588cb;
  color: #ebebeb;
}

.btn-hero-round:active {
  background-color: #0a7eba;
  color: #d6d6d6;
}

.btn-hero-round-disabled {
  background-color: #b6bec6;
  color: #333333;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

/*---------------------------
  TEXTLINKS
 --------------------------*/
.textlink-1 {
  color: #0091dc;
  cursor: pointer;
}

.textlink-1:hover {
  color: #0588cb;
}

.textlink-1:active {
  color: #0a7eba;
}

.textlink-disabled {
  color: black;
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.textlink-2 {
  color: #333333;
}

.textlink-2:hover {
  color: #0588cb;
}

.textlink-2:active {
  color: #0a7eba;
}

.textlink-3 {
  color: #b6bec6;
}

.textlink-3:hover {
  color: #0588cb;
}

.textlink-3:active {
  color: #0a7eba;
}

table {
  border-collapse: collapse;
  width: 1260px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #b6bec6 !important;
  margin-bottom: 1%;
  table-layout: fixed;
}

th {
  background: #0091dc;
  color: #FFFFFF;
}

th, td {
  text-align: left !important;
  vertical-align: center !important;
}

tr:nth-child(even) {
  background-color: #e5e8eb;
}

.eva-edit-outline {
  vertical-align: middle;
}

th, td {
  text-align: center;
  padding: 1.5%;
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #e5e8eb;
}

.button {
  padding-right: 120px;
  float: right;
}

.txt {
  cursor: pointer;
}

.editDomainModal {
  margin-top: 17px;
}

.tooltip-wrap {
  position: relative !important;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.userButton {
  margin-right: 328px;
}

.space {
  margin-top: 50px !important;
}
/*# sourceMappingURL=userMaintainList.css.map */