@import "../_ux_design_fonts.scss";
@import "../_ux_design_colors.scss";

// testing if fonts definition works by assigning this class to elements in header.jsx

.testing {
    background-color: $clr-spc-4;
    font-family: 'MetaPro-Bold';
    color: $clr-caerul;
}

// works all good